html{
    font-family: Verdana;
    color: seashell;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 2800px;
    margin-left: 20px;
    margin-right: 20px;
}

header{
    background-color: rgb(0, 0, 0);
    top: 0px;
    align-items: center;
    text-align: center;
    font-size: 25px;
}

header h1{
    font-weight: lighter;
}

body{
    background-color: black;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.mission {
    margin-top:  70px;
    background-image: url("./Img/img-mission-background.jpg");
    background-position-x: center;
    width: 1200px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.missiondiv{
    display: flex;
    align-items: center;
    justify-content: center;
}


.missiontext{
    color: aquamarine;
    background-color: black;
    font-size: 16px;
    text-align: center;
    width: 1200px;
    font-weight: lighter;
       
}
.missiontext a:link {
    color: aquamarine; 
    font-weight: lighter; 
}
.missiontext a:visited{
    color: aquamarine; 
}
.missiontext a:hover {
    color: aquamarine;
    font-weight: bold;
}
.missiontexta:active{
    color: aquamarine; 
}



.featuretext{
    text-align: center;
    margin-top: 75px;
    
}
.featuretext h2{
    font-weight: lighter;
    font-size: 42px;
} 
.featuretext h3{
    font-size: 21px; 
    opacity: 0.5;
    font-weight: lighter; 
}
.featuretext h4{
    color: aquamarine;
    background-color: black;
    font-size: 16px;
    text-align: center;
    width: 1200px;   
}

.featuretext2{
    text-align: center;
    margin-top: 25px;
}

.featuretext2 h2{
    font-weight: lighter;
    font-size: 42px;
}

.featuretext2 h4{
    color: aquamarine;
    background-color: black;
    font-size: 16px;
    text-align: center;
    width: 1200px; 
    font-weight: lighter;  
}
.featuretext2 h4 a:link {
    color: aquamarine;  
}
.featuretext2 h4 a:visited{
    color: aquamarine; 
}
.featuretext2 h4 a:hover {
    color: aquamarine;
    font-weight: lighter; 
    font-weight: bold; 
}
.featuretext2 h4 a:active{
    color: aquamarine; 
}


footer {
    width: 100%;
}
.copyright h5{
    text-align: right;
    margin-left: 20px;
}

